.query {
  padding: 0 12px;
  display: inline-block;
}

.query-input {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    padding: 10px;
    width: 250px;
    background-color: rgba(144, 190, 109, 0.50);
    border: none;
    margin: 10px auto;
    transition:background-color 0.5s ease;

  }

  .query-input:focus {
    background-color: rgba(144, 190, 109, 0.65);
  }

  .query-input::placeholder {
    color: rgba(224, 224, 224, 0.40);
  }