*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  color: white;
  text-decoration: none;
  padding: 0 4px;
  transition: background-color 0.5s ease;
  background-color: rgba(230, 43, 43, 0.75);
}

a:visited {
  color: white;
}

a:hover {
  background-color: rgba(230, 43, 43, 95);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
